.UsersCard {
    border: none;
    font-size: .9em;
    background-color: #f2f2f2;
    border-radius: 50px;


}

.UsersCard img {
    height: 250px;
    object-fit: scale-down;
    border-radius: 100%;
}