.FestUserCard {
    border: none;
    font-size: .9em;
    background-color: #f2f2f2;
    border-radius: 50px;
    width: 80%;
    height: 25%;
}

.FestUserCard img {
    height: 250px;
    object-fit: scale-down;
    border-radius: 50px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.UserAvatar {
    border-radius: 50px;
}

.buttonClass {
    display: inline-block;
}