.FestCard {
    border: none;
    font-size: .9em;
    background-color: #f2f2f2;
    width: 350px;
    border-radius: 50px;

}

.FestCardImg {
    height: 300px;
    object-fit: scale-down;
    border-radius: 75px;
}