a {
  text-decoration: none;
  color: inherit
}

.content-container {
  margin-left: 20px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 80px;
  width: calc(100% - 200px);
  height: 100%;
  transition: margin-left 0.5s;
  margin-bottom: 500px;
}

.content-container.shifted {
  margin-left: 80px;
}