.festImage {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.festAvatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

.buttonClass {
    display: inline-block;
    margin-top: 10px;
}

.react-player {
    width: 60%;
}

.Emoji {
    font-size: 4em;
}

.festImage:hover {
    transform: scale(1.2);
}